<?xml version="1.0" encoding="UTF-8"?>
<!--  <!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd"> -->
<suite name="PetSuite">

  <!-- Manually Added Listener Tag for Reporting -->
  <listeners>
  		<listener class-name ="api.utilities.ExtentReportManager"/>
  </listeners>

  <!-- Test Tag Generated using generate testNg xml action -->
  <test thread-count="5" name="PetTests">
    <classes>
      <class name="api.test.PetTests"/>
      <class name="api.test.UserTests"/>
      <class name="api.test.StoreTests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
